<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>車種・日時選択</title>
	</head>
	<body>
		<h1>車種・日時選択</h1>
		<form method="post">
			<label>車種</label>
			<select name="car_id">
				<option value="" {% if not data.get('car_id') %}selected{% endif %}></option>
				{% for car in cars %}
				<option value="{{ car.id }}" {% if data.get('car_id') and data.get('car_id')|int == car.id %}selected{% endif %}>{{ car.name }}</option>
				{% endfor %}
			</select>

			<div>
				<label>日付</label>
				<input type="date" name="reservation_date" value="{{ data.get('reservation_date') or '' }}">
			</div>

			<div>
				<label>時間帯</label>
				<select name="reservation_time">
					<option value="" {% if not data.get('reservation_time') %}selected{% endif %}></option>
					<option value="10:00-12:00" {% if data.get('reservation_time') == '10:00-12:00' %}selected{% endif %}>10:00~12:00</option>
					<option value="13:00-15:00" {% if data.get('reservation_time') == '13:00-15:00' %}selected{% endif %}>13:00~15:00</option>
					<option value="16:00-18:00" {% if data.get('reservation_time') == '16:00-18:00' %}selected{% endif %}>16:00~18:00</option>
				</select>
			</div>

			<button type="submit">次へ</button>
		</form>
		<p><a href="/">Topへ</a></p>
	</body>
</html>

